[flake8]
ignore = 
    E1, 
    # Indentation checking
    E2, 
    # Whitespace checking
    E3, 
    # Blank line checking
    E5, 
    # Line length checking 
    W1, 
    # Indentation warning
    W2, 
    # Whitespace warning
    W3, 
    # Blank line warning
    W5, 
    # Line length warning

exclude = 
    .git,
    __pycache__,
    exclude = 
        .git,
        __pycache__,
        notebooks/*
    